<div class="table-weather">
  <div class="weather-today">
    <div class="table-weather-head">
      <h2 class="table-weather-head__locate"></h2>
      <h3 class="table-weather-head__date"></h3>
    </div>
    <div class="forecast-today">
      <div class="weather-today__temperature"></div>
      <div class="weather-info">
        <div class="weather-info__image"></div>

        <ul class="weather-info-list">
          <li class="weather-info-list__item">
            <span class="item-weather"></span>
            <span class="item-weather-info"></span>
          </li>
          <li class="weather-info-list__item">
            <span class="item-feels-like"></span>
            <span class="item-feels-like-info"></span>
          </li>
          <li class="weather-info-list__item">
            <span class="item-wind"></span>
            <span class="item-wind-info"></span>
          </li>
          <li class="weather-info-list__item">
            <span class="item-humidity"></span>
            <span class="item-humidity-info"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="weather-other-days" data-day="first">
    <div class="forecast-next-day">
      <div class="forecast-next-day__name"></div>
      <div class="weather-next-day">
        <span class="weather-next-day__temperature"></span>
        <div class="weather-next-day__img"></div>
      </div>
    </div>
    <div class="forecast-next-day" data-day="second">
      <div class="forecast-next-day__name"></div>
      <div class="weather-next-day">
        <span class="weather-next-day__temperature"></span>

        <div class="weather-next-day__img"></div>
      </div>
    </div>
    <div class="forecast-next-day" data-day="third">
      <div class="forecast-next-day__name"></div>
      <div class="weather-next-day">
        <span class="weather-next-day__temperature"></span>

        <div class="weather-next-day__img"></div>
      </div>
    </div>
  </div>
  <div class="ticker">
    <div class="ticker-content"></div>
  </div>
</div>
