<div class="table-weather">
  <div class="table-weather-head">
    <h2 class="table-wether-head__locate">Minsk, Belarus</h2>
    <h3 class="table-weather-head__date"></h3>
  </div>
  <div class="weather-today">
    <div class="weather-today__temperature"></div>
    <div class="weather-info">
      <div class="weather-info__image"></div>
      <ul class="weather-info-list">
        <li class="weather-info-list__item" data-name="item-weather">overcast</li>
        <li class="weather-info-list__item" data-name="item-feels-like">Feels like: 7°</li>
        <li class="weather-info-list__item" data-name="item-wind">Wind: 2 m/s</li>
        <li class="weather-info-list__item" data-name="item-humidity">Humidity: 83%</li>
      </ul>
    </div>
  </div>
  <div class="weather-other-days" data-day="first">
    <div class="forecast-next-day">
      <div class="forecast-next-day__name">thuesday</div>
      <div class="weather-next-day">
        <span class="weather-next-day__temperature">7</span>
        <div class="weather-next-day__img"></div>
      </div>
    </div>
    <div class="forecast-next-day" data-day="second">
      <div class="forecast-next-day__name">thuesday</div>
      <div class="weather-next-day">
        <span class="weather-next-day__temperature">7</span>
        <div class="weather-next-day__img"></div>
      </div>
    </div>
    <div class="forecast-next-day" data-day="third">
      <div class="forecast-next-day__name">thuesday</div>
      <div class="weather-next-day">
        <span class="weather-next-day__temperature">7</span>
        <div class="weather-next-day__img"></div>
      </div>
    </div>
  </div>
</div>
