<div class="table-weather">
  <div class="table-weather-head">
    <h2 class="table-weather-head__locate"></h2>
    <h3 class="table-weather-head__date"></h3>
  </div>
  <div class="weather-today">
    <div class="weather-today__temperature"></div>
    <div class="weather-info">
      <div class="weather-info__image">
        <svg
        class="weather-info__image"
        version="1.1"
        id="Capa_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 32 32"
        style="enable-background: new 0 0 32 32"
        xml:space="preserve"
      >
      </svg>
      </div>
     
      <ul class="weather-info-list">
        <li class="weather-info-list__item" data-name="item-weather"></li>
        <li class="weather-info-list__item" data-name="item-feels-like"></li>
        <li class="weather-info-list__item" data-name="item-wind"></li>
        <li class="weather-info-list__item" data-name="item-humidity"></li>
      </ul>
    </div>
  </div>
  <div class="weather-other-days" data-day="first">
    <div class="forecast-next-day">
      <div class="forecast-next-day__name"></div>
      <div class="weather-next-day">
        <span class="weather-next-day__temperature"></span>
        <div class="weather-next-day__img">

        </div>
      </div>
    </div>
    <div class="forecast-next-day" data-day="second">
      <div class="forecast-next-day__name"></div>
      <div class="weather-next-day">
        <span class="weather-next-day__temperature"></span>
       
        <div class="weather-next-day__img"></div>
      </div>
    </div>
    <div class="forecast-next-day" data-day="third">
      <div class="forecast-next-day__name"></div>
      <div class="weather-next-day">
        <span class="weather-next-day__temperature"></span>
        
      <div class="weather-next-day__img"></div>
      </div>
    </div>
  </div>
</div>
