@import "../../sass/style.scss";
.header-parameters {
    margin-top: $margin-head-top;
    width: 100%;
    @include flex();
    font-size: $font-size-button;
    user-select: none;
}

@media(max-width: 600px) {
    .header-parameters .wrapper{
        flex-wrap: wrap-reverse;
    }
}


