@import "../../../sass/style.scss";
.map-table {
    @include flex(flex-start,flex-start);
    flex-direction: column;
    
}
.map{
    width:350px;
    height: 350px;
    border-radius:15px;
    box-shadow: 0px 0px 6px 10px;
}
.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-bottom-right {
    display: none;
}
.locate {
    @include flex(flex-end);
    flex-direction: column;
    width: 100%;
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
}