@import "../../../sass/style.scss";
.search-form {
    display: flex;
    border-radius: $border-radius-parameters;
    overflow: hidden;
    
}
.search-area {
    padding: $padding-search;
    background-color: $color-active;
    border: 1px solid $color-search-border;
    @include flex(center,space-between);
 
}

.search__input {
    background-color: initial;
    width: 205px;
    color: $color-light;
    font-size: 18px;
}
.search__button {
    padding: $padding-search-button;
    background: $color-button;
    font-weight: 700;
    text-transform: uppercase;
    color: $color-light;
    cursor: pointer;
}

.micro {
    background: none;
    cursor:pointer;
    margin:0 15px;
}